/* Top bar styling */
.topbar-custom {
  background-color: #011A51 !important;
  color: white;
  font-size: 14px;
  padding: 5px 0;
}

.topbar-custom a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.topbar-custom i {
  margin-right: 5px;
}
.custom-navbar-color {
  background-color: #57687a !important;
  
}


.logo-img {
  max-height: 60px ;
  max-width: 100px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);
}

.custom-box {
  height: 220px !important; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17b3e0 !important;
  font-weight: bold;
  border-radius: 4px !important;
  padding: 20px;
  font-size: 20px;
}
.custom-box:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.card-box {
  background-color: #e6f3f8 !important;
  height: 220px;
  padding: 20px;
  border-radius: 4px;
}

.diamond {
  width: 60px;
  height: 60px;
  background-color: #00a7d3 !important;
  transform: rotate(45deg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diamond i {
  transform: rotate(-45deg);
  color: white;
  font-size: 1.2rem;
}


.card-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.cord-box {
  background-color: #e6f4fa;
  border-radius: 6px;
  height: 100%;
  transition: all 0.3s ease;
}

.cord-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: #03a9d7;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  transform: rotate(-45deg);
  color: white;
  font-size: 20px;
}
.contact-info {
  transition: all 0.3s ease;
  padding: 20px 5px;
  border-radius: 10px;
  min-height:230px; 
}

.contact-info:hover {
  background-color: #f0f8ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  cursor: pointer;
}

.contact-icon {
  transition: transform 0.3s ease;
}

.contact-info:hover .contact-icon {
  transform: scale(1.2);
}
.footer {
  background-color: #111; /* Dark background */
  color: whitesmoke;
  border-top: 2px solid white;
  position:relative;
  width: 100%;
  bottom: 0;
  left: 0;
}




